# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [5]:
df.dtypes

loan_amnt                     float64
int_rate                      float64
installment                   float64
home_ownership                 object
annual_inc                    float64
                               ...
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
hardship_flag                  object
debt_settlement_flag           object
Length: 86, dtype: object

In [14]:
dummy_list = []
for columns in df.columns:
    if df[columns].dtype != 'float64' and columns != 'loan_status':
        dummy_list.append(columns)
dummy_list

['home_ownership',
 'verification_status',
 'issue_d',
 'pymnt_plan',
 'initial_list_status',
 'next_pymnt_d',
 'application_type',
 'hardship_flag',
 'debt_settlement_flag']

## Split the Data into Training and Testing

In [15]:
df_new = pd.get_dummies(df, columns=dummy_list, drop_first=True)
df_new

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified,issue_d_Jan-2019,issue_d_Mar-2019,initial_list_status_w,next_pymnt_d_May-2019,application_type_Joint App
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,0,0,1,1,0,0,1,1,1,0
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,0,0,0,1,0,1,1,1,0
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,0,0,0,1,0,1,1,1,0
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,0,0,1,0,1,0,1,1,1,0
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,0,0,0,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68812,10000.0,0.1502,346.76,26000.0,low_risk,9.60,0.0,0.0,9.0,0.0,...,0,0,1,1,0,1,0,1,1,0
68813,12000.0,0.2727,368.37,63000.0,low_risk,29.07,0.0,0.0,8.0,0.0,...,0,0,1,0,0,1,0,1,1,0
68814,5000.0,0.1992,185.62,52000.0,low_risk,14.86,0.0,0.0,5.0,1.0,...,1,0,0,1,0,1,0,1,1,0
68815,40000.0,0.0646,1225.24,520000.0,low_risk,9.96,0.0,1.0,21.0,0.0,...,1,0,0,0,1,1,0,0,1,0
68816,16000.0,0.1131,350.36,72000.0,low_risk,7.02,2.0,0.0,12.0,1.0,...,1,0,0,0,1,1,0,1,1,0

In [16]:
# Create our features
X = df_new.drop(columns=['loan_status',])

# Create our target
y = df_new['loan_status']

In [17]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified,issue_d_Jan-2019,issue_d_Mar-2019,initial_list_status_w,next_pymnt_d_May-2019,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.526309,0.106747,0.357659,0.373992,0.148001,0.451066,0.177238,0.876121,0.616839,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.499311,0.308793,0.479314,0.483865,0.355104,0.497603,0.381873,0.329446,0.486161,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [19]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [20]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [21]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler=scaler.fit(X_train)

In [22]:
# Scale the training and testing data
X_train_scaled=X_scaler.transform(X_train)
X_test_scaled=X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [23]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100)
rf_model.fit(X_train_scaled, y_train)
rf_predictions = rf_model.predict(X_test_scaled)

In [24]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, rf_predictions)

0.8024220081859964

In [25]:
# Display the confusion matrix
confusion_matrix(y_test, rf_predictions)

array([[   64,    28],
       [ 1554, 15559]], dtype=int64)

In [26]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, rf_predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.70      0.91      0.07      0.80      0.62        92
   low_risk       1.00      0.91      0.70      0.95      0.80      0.65     17113

avg / total       0.99      0.91      0.70      0.95      0.80      0.65     17205

In [27]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
sorted(zip(importances, X.columns), reverse=True)

[(0.08594565909330258, 'total_rec_prncp'),
 (0.06858629165089242, 'total_pymnt'),
 (0.06275090767271524, 'total_rec_int'),
 (0.060057023100429666, 'last_pymnt_amnt'),
 (0.04973805662670821, 'total_pymnt_inv'),
 (0.028714409885096638, 'int_rate'),
 (0.024780124154243466, 'issue_d_Jan-2019'),
 (0.018652255782811055, 'dti'),
 (0.017695458026670816, 'mo_sin_old_il_acct'),
 (0.01706885761598004, 'max_bal_bc'),
 (0.01657062502700941, 'installment'),
 (0.015748428372295724, 'total_il_high_credit_limit'),
 (0.01568745486789092, 'avg_cur_bal'),
 (0.015446375680268767, 'annual_inc'),
 (0.015363537026171459, 'revol_bal'),
 (0.015065336828982834, 'mo_sin_old_rev_tl_op'),
 (0.014483114882247423, 'bc_open_to_buy'),
 (0.01417643413552599, 'tot_hi_cred_lim'),
 (0.014151389022429423, 'all_util'),
 (0.014144925640833543, 'out_prncp'),
 (0.014112956277654243, 'il_util'),
 (0.0138663010068977, 'out_prncp_inv'),
 (0.013720628463609996, 'mths_since_recent_bc'),
 (0.01361234435879767, 'total_bc_limit'),
 (0.013484397063544963, 'mths_since_recent_inq'),
 (0.013158022773311604, 'mths_since_rcnt_il'),
 (0.013120018831725566, 'total_bal_il'),
 (0.012901986685051383, 'bc_util'),
 (0.012890374022585869, 'tot_cur_bal'),
 (0.011624906665260715, 'num_il_tl'),
 (0.01130955140000566, 'total_bal_ex_mort'),
 (0.011156411043215554, 'loan_amnt'),
 (0.010996581460887238, 'total_rev_hi_lim'),
 (0.0108998304603202, 'num_rev_accts'),
 (0.010714768679611165, 'issue_d_Mar-2019'),
 (0.010345155347919016, 'total_acc'),
 (0.009300139031892694, 'mo_sin_rcnt_rev_tl_op'),
 (0.009100927604929327, 'mo_sin_rcnt_tl'),
 (0.008558544036244868, 'open_rv_24m'),
 (0.008292843052286359, 'num_sats'),
 (0.008278691862603393, 'pct_tl_nvr_dlq'),
 (0.008094889504041297, 'total_rec_late_fee'),
 (0.00806009461810253, 'num_bc_tl'),
 (0.0077923877931988265, 'open_il_24m'),
 (0.007691967104900736, 'acc_open_past_24mths'),
 (0.00763953850166548, 'num_actv_bc_tl'),
 (0.007511121867347405, 'mort_acc'),
 (0.007508691424913003, 'num_rev_tl_bal_gt_0'),
 (0.007302130647390905, 'inq_fi'),
 (0.007222902691203975, 'inq_last_12m'),
 (0.006945398314246855, 'num_op_rev_tl'),
 (0.006757652198757227, 'total_cu_tl'),
 (0.006747011296945906, 'num_actv_rev_tl'),
 (0.006424130538270011, 'open_acc'),
 (0.006241787172976434, 'num_bc_sats'),
 (0.006150131149091366, 'open_act_il'),
 (0.005918644490824381, 'inq_last_6mths'),
 (0.005910291597111139, 'percent_bc_gt_75'),
 (0.005891701964753422, 'num_tl_op_past_12m'),
 (0.005529315528572364, 'open_acc_6m'),
 (0.005247663830859378, 'open_il_12m'),
 (0.004850916746288436, 'open_rv_12m'),
 (0.004124515999744298, 'next_pymnt_d_May-2019'),
 (0.003902830171321819, 'tot_coll_amt'),
 (0.003406737568371237, 'num_accts_ever_120_pd'),
 (0.0031873322519855025, 'delinq_2yrs'),
 (0.0024413554648560097, 'verification_status_Verified'),
 (0.002419233794285824, 'verification_status_Source Verified'),
 (0.002174374151748651, 'application_type_Joint App'),
 (0.002049852933538819, 'home_ownership_RENT'),
 (0.001938497841328202, 'home_ownership_MORTGAGE'),
 (0.00160130160237004, 'num_tl_90g_dpd_24m'),
 (0.0012652193737676992, 'pub_rec_bankruptcies'),
 (0.0012174468884623688, 'pub_rec'),
 (0.0010583784461503075, 'home_ownership_OWN'),
 (0.001039079753123956, 'initial_list_status_w'),
 (0.00033161869754485775, 'collections_12_mths_ex_med'),
 (0.00013181085907851403, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'delinq_amnt'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [28]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=100)
eec.fit(X_train_scaled, y_train)
eec_pred = eec.predict(X_test_scaled)

In [29]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, eec_pred)

0.9376770520250306

In [30]:
# Display the confusion matrix
confusion_matrix(y_test, eec_pred)

array([[   86,     6],
       [ 1017, 16096]], dtype=int64)

In [31]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, eec_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.08      0.93      0.94      0.14      0.94      0.88        92
   low_risk       1.00      0.94      0.93      0.97      0.94      0.88     17113

avg / total       0.99      0.94      0.93      0.96      0.94      0.88     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    Easy Ensemble

2. Which model had the best recall score?

    Easy Ensemble

3. Which model had the best geometric mean score?

    Easy Ensemble

4. What are the top three features?

    total_rec_int, last_pymnt_amnt, total_rec_prncp